* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,100;1,300&display=swap");
body {
  background-color: #f4f4f4;
  font-size: 20px;
  font-family: "Lato", sans-serif;
}
h1 {
  text-align: center;
  font-size: 240%;
  margin-top: 60px;
  letter-spacing: 2px;
  text-shadow: 2px 2px #e2d3e9;
}
/* div container which holds the whole elements  */
.wrapper {
  position: absolute;
  top: 5%;
  left: 10%;
  padding: 40px;
  width: 80%;
  height: 90%;
  box-shadow: 4px 2px 4px 4px #a39393;
  background-color: #fff;
}
/* button start */
.btn-score {
  padding: 0;
  background-color: #fff;
  border: none;
  font-size: 18px;
  color: #8e44ad;
  font-weight: bold;
  position: absolute;
  top: 50px;
  left: 30px;
  outline: none;
}
.timer-Container {
  position: relative;
  display: flex;
}
.timer-container p {
  position: absolute;
  right: 30px;
  top: 50px;
  font-weight: bold;
}
.main-part {
  margin-top: 10%;
}
.main-part button {
  background-color: #522764;
  color: #fff;
  border-radius: 10px;
  padding: 20px 40px;
  position: absolute;
  left: 40%;
  top: 50%;
  margin-top: 80px;
  font-size: 30px;
  outline: none;
}
.main-part button:hover {
  background-color: #8f44ad;
}
.main-part p {
  font-size: 160%;
  word-spacing: 2px;
  width: 70%;
  text-align: center;
  margin: 20px auto;
}
.answer-checked {
  display: none;
  border-top: 1px solid #979797;
  width: 50%;
  text-align: center;
  padding-top: 20px;
  font-size: 110%;
  color: #9f9f9f;
  position: absolute;
  top: 86%;
  left: 20%;
}
/*----------user info form--------*/

#userInfo {
  font-size: 30px;
  display: none;
  position: absolute;
  left: 20%;
  top: 30%;
}
#userInfo p {
  margin: 5px 0 10px 0;
}
h4 {
  margin-bottom: 0;
}
#userInfo input {
  padding: 10px 30px;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  margin-right: 20px;
  text-align: center;
}

form label {
  font-size: 20px;
  margin: 0px 10px 0 0;
}
#userInfo .submit-btn {
  padding: 10px 30px;
  background-color: #522764;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
}
#checkUserName {
  display: none;
  color: #f0162f;
  font-size: 0.70588rem;
  line-height: 2rem;
  padding: 0.3rem;
  margin-right: 3.75rem;
  text-align: center;
}
/*--------list items ----------*/

.wrapper-list {
  margin-top: 10%;
  margin-left: 20%;
}

.list {
  padding: 7% 2%;
  background-color: #522764;
  color: #fff;
  width: 100%;
  border-radius: 10px;
  margin: 10px;
  font-size: 70%;
  transition: background-color 0.2s;
}

.list:active,
.list:hover {
  background-color: #8f44ad;
}
.listItems {
  width: 30%;
  text-align: center;
  font-size: 180%;
  margin-top: 1em;
}
.question-text {
  font-size: 150%;
  width: 100%;
  font-weight: bold;
  margin: 0 auto;
}
/* --------score container  ------------- */
#score-container {
  display: none;
  position: absolute;
  left: 20%;
  top: 20%;
  width: 80%;
}
#score-container h2 {
  font-size: 180%;
  margin-bottom: 10px;
}
#score-container p {
  padding: 30px 20px 20px 40px;
  width: 50%;
  margin-bottom: 15px;
  background-color: #c89fda;
}
#score-container button {
  margin-right: 10px;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #522764;
}
